/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover { 
	outline: 0;
}

.jumbotron a {
	font-weight: bold;
}

pre {
	white-space: pre-wrap !important;
	padding: 9.5px !important;
}

.control-panel {
	margin-top: 10px;
	margin-bottom: 8px;
}